<% include partials/head.ejs %>

  <div class="wrapper clearfix">
    <h1>Boodschappenlijstje</h1>
    <h2>een broodje tostie</h2>
    <div class="my-grocery-list">
      <div class="my-grocery-list-wrap">
        <p class="only-select">Selecteer een ingredient</p>
        <p class="dragandrop-available hide">Selecteer of sleep een item naar het boodschappenlijstje</p>
        <ul>
          <% groceryItems.forEach(function(groceryItem) { %>
          <li><%= groceryItem %></li>
          <% }) %>
        </ul>
        <a href="/clear">Lijstje leegmaken</a>
      </div>
    </div>

    <div class="all-grocery clearfix">
      <div class="all-grocery-wrap clearfix">
        <form method="post" action="/" class="clearfix">
        <div id="first-option">
          <img id="0" draggable src="../img/bread.png" alt="Brood">
          <input type="submit" value="Brood" name="groceryItem">
        </div>

        <div id="second-option">
          <img id="1" draggable src="../img/cheese.png" alt="Brood">
          <input type="submit" value="Kaas" name="groceryItem">
        </div>

        <div id="third-option">
          <img id="2" draggable src="../img/ham.png" alt="Brood">
          <input type="submit" value="Ham" name="groceryItem">
        </div>

        <div id="fourth-option">
          <img id="3" draggable src="../img/butter.png" alt="Brood">
          <input type="submit" value="Boter" name="groceryItem">
        </div>

      </form>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>
