<% include partials/head.ejs %>

  <div class="my-grocery-list">
    <a href="/clear">Leeg maken</a>
    <h1>Mijn boodschappenlijstje</h1>
    <ul>
      <% groceryItems.forEach(function(groceryItem) { %>
      <li><%= groceryItem %></li>
      <% }) %>
    </ul>
  </div>

  <div>
    <form method="post" action="/">

      <div>
        <img id="0" draggable src="../img/bread.png">
        <input type="submit" value="Brood" name="groceryItem">
      </div>

      <div>
        <img id="1" draggable src="../img/cheese.png">
        <input type="submit" value="Kaas" name="groceryItem">
      </div>

      <div>
        <img id="2" draggable src="../img/ham.png">
        <input type="submit" value="Ham" name="groceryItem">
      </div>

      <div>
        <img id="3" draggable src="../img/butter.png">
        <input type="submit" value="Boter" name="groceryItem">
      </div>

      <div>
        <input id="4" type="type" name="groceryItem">
        <input type="submit" value="plaatsen">
      </div>

    </form>
  </div>

<% include partials/footer.ejs %>
